body{
    background: url("../img/WALLPAPER-1.jpg") fixed no-repeat center center;
}

.homeform{
    margin-top:8%;
}

#videos{
    margin-top:5%
}

#search{
	background: transparent;
	color: white;
}

.card{
	background: url("../img/WALLPAPER-1.jpg") fixed no-repeat center center;
	/*border: 5px fixed white;*/
	color: white;
}

.video{
    opacity:0
}

input{
    color:white;
}