{% extends 'base.html.twig' %}

{% block content %}

{% if error != false %}
  <div class="card-panel red darken-4">
    {{ error }}
  </div>
{% endif %}

  <ul id = "videos">

      {% for user in users %}
        <li id = "video">
        <div class="row">
          <div class="col s12 m12 l4">
            <div class="card-panel">
              <p>{{ user.username }}</p>
            </div>
          </div>
        </div>
        </li>
      {% endfor %}

  </ul>

{% endblock %}
