<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Videodorant{% endblock %}</title>

    {% block imports %}
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../components/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
    {% endblock %}

</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../components/materialize/js/materialize.min.js"></script>

{% block navbar %}
    <div class="navbar-fixed">
        <nav class="transparent">
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large" style="margin-right:100px"><i class="material-icons">menu</i></a>
                <a href="/Videodorant/public/" class="brand-logo center">Vidéodorant</a>
                <form class="right" style="width:30%">
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Rechercher..." autocomplete="off" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>

            </div>
        </nav>
    </div>

    <ul id="slide-out" class="side-nav">

        {% if user %}

            {# if logged #}
            <li><div class="userView">
                    <div class="background">
                        <img src="img/backgrounddefault.jpg">
                    </div>
                    <a href="#"><img class="circle" src="img/{{ user.img }}"></a>
                    <a href="#"><span class="white-text name">{{ user.name }}</span></a>
                    <a href="#"><span class="white-text email">{{ user.email }}</span></a>
                </div></li>

            <li><a href="/Videodorant/public/" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
            <li><a href="#"><i class="material-icons">account_circle</i>Ma chaîne</a></li>
            <li><a href="#"><i class="material-icons">account_circle</i>Mon compte</a></li>
            <li><a href="logout"><i class="material-icons">power_settings_new</i>Deconnexion</a></li>

            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="#"><i class="material-icons">search</i>Recherche</a></li>

            <li><div class="divider"></div></li>
            <li><a class="subheader">Abonnements</a></li>
            {% for abonnement in user.abonnements %}
                <li><a class="waves-effect" href="#">abonnement.name</a></li>
            {% endfor %}

        {% else %}

            {# if not logged #}
            <li><div class="userView">
                    <div class="background">
                        <img src="img/backgrounddefault.jpg">
                    </div>
                    <a href="#"><img class="circle" src="img/profiledefault.png"></a>
                    <a href="#"><span class="white-text name">Veuillez vous inscrire ou vous connecter.</span></a>
                </div></li>
            <li><a href="/Videodorant/public/" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
            <li><a href="/Videodorant/public/signin"><i class="material-icons">account_circle</i>Se connecter/S'inscrire</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="#"><i class="material-icons">search</i>Recherche</a></li>

        {% endif %}

    </ul>

    <script>$(document).ready(function() {
            $('.button-collapse').sideNav({
                menuWidth: 300,
                edge: 'left',
                closeOnClick: true,
                draggable: true
            })
        });
    </script>

{% endblock %}

{% block content %}

{% endblock %}

</body>

</html>
