<!DOCTYPE html>


<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>{% block title %}Videodorant{% endblock %}</title>

  {% block imports %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  {% endblock %}

</head>

<body>

  {% block content %}

  {% endblock %}

</body>

</html>
