{% extends base.html.twig %}

{% block content %}

    {% if error != false %}
        <div class="card-panel red darken-4">
            {{error}}
        </div>
    {% endif %}

    {% if success != false %}
        <div class="card-panel green accent-3">
            {{success}}
        </div>
    {% endif %}

    <div class="row">

        <div class="col s10 push-l1 card blue-grey darken-2 z-depth-5 center-align">

            <h1 class="card-title white-text center-align">Gérer les vidéos</h1>

            {% for vid in videos %}

              <div class="card">

              <div class="card-image waves-effect waves-block">
                  <img class="activator" src="assets/img/miniatures/{{ video.minLink }}"/>
              </div>

              </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}
