{% extends 'base.html.twig' %}


{% block content %}


        <h1 class="center-align">Videodorant</h1>

<div class="container">
    <form class="col s12" action="login" method="post">
      <div class="row">
        <div class="input-field col s6">
          <label for="mail">Email</label>
          <input id="mail" class="validate" type="email" name="email" placeholder="exemple: abc@xyz.com" required />
        </div>
        <div class="input-field col s6">
          <label for="pass">Mot de passe</label>
          <input class="validate" id="pass" type="password" name="password" placeholder="choose a password" required />
        </div>
      </div>

        <div class="row">
            <div class="center-align">
              <button class="btn waves-effect waves-light" type="submit" name="login">Connexion
                <i class="material-icons right">send</i>
              </button>
            </div>
        </div>
        </form>

        <br/>

        <div class="row">
          <div class="center-align">
            <button href="register" class="btn waves-effect waves-light" name="register">Inscription</button>
          </div>
        </div>
</div>
{% endblock %}
