{% extends 'base.html.twig' %}

{% block content %}

<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="center-align">
    <img src="imgs/hqdefault.jpg" alt="profil_pic" class="circle responsive-img">
  </div>
</div>

{% endblock %}
