{% extends 'base.html.twig' %}

{% block content %}

  <div class="row">
    <form action="register" method="post" class="col s12">
      <div class="row">
        <div class="input-field col s2">
          <input placeholder="Placeholder" id="nom" type="text" class="validate">
          <label for="nom">Nom</label>
        </div>
        <div class="input-field col s2">
          <input id="identifiant" type="text" class="validate">
          <label for="identifiant">Identifiant</label>
        </div>
        <div class="input-field col s2">
          <input id="email" type="email" class="validate">
          <label for="email">E-Mail</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s2">
            <input id="prenom" type="text" class="validate">
            <label for="prenom">Prénom</label>
          </div>
          <div class="input-field col s2">
            <input id="password" type="password" class="validate">
            <label for="password">Mot de Passe</label>
          </div>
      </div>
      <div class="row">
        {# Faire un date picker en JS #}
        <button class="btn waves-effect waves-light" name="register">S'inscrire</button>
      </div>
    </form>
  </div>



{% endblock %}
