{% extends 'base.html.twig' %}

{% block content %}

    <script>
        $('document').ready(function(){
            $('#commentsright').height($('#streamleft').height());
            if($('#remotes')){
              $('#user-type').text("Spectateur");
            } else {
              $('#user-type').text("Streameur");
            };
        });

    </script>

    <div class="row">

        <div class="col s8 card blue-grey darken-2 z-depth-5" id="streamleft">

            <h1 class="card-title white-text">{{ stream.name }}</h1>

            <div id="user-type" class="white-text"></div>

            <div class="card-content">


              {% if streamer is defined %}
                <button class="btn waves-effect waves-light blue-grey darken-4 id="screenShareButton">Lancer le stream</button>
                <hr/>
                <div class="videoContainer">
                    <video id="localVideo" style="height: 500px; width: 100%" oncontextmenu="return false;"></video>
                    <div id="localVolume" class="volume_bar"></div>
                </div>
              {% else %}
                <div id="remotes"></div>
              {% endif %}

            </div>

        </div>

        <div class="col s4 card blue-grey z-depth-5">

          {#<div id="commentsright">
                <textarea id="dataChannelReceive" disabled></textarea>
                <textarea id="dataChannelSend" disabled placeholder="Appuyez sur commencer, tapez du texte puis envoyez"></textarea>
            </div>#}

            {#<div id="buttons">
              <button class="btn waves-effect waves-light blue-grey darken-4" id="commentStartButton">Start</button>
              <button class="btn waves-effect waves-light blue-grey darken-4" id="commentSendButton">Send</button>
              <button class="btn waves-effect waves-light blue-grey darken-4" id="commentCloseButton">Close</button>
            </div>#}

        </div>

    </div>

    <script src="js/lib/adapter.js"></script>
    <script src="js/main.js"></script>

{% endblock %}
