{% extends 'base.html.twig' %}

{% block content %}

    {% if error != false %}
      <div class="card-panel red darken-4">
          {{error}}
      </div>
    {% endif %}

    {% if success != false %}
      <div class="card-panel green accent-3">
          {{success}}
      </div>
    {% endif %}

  <div class="row">
    <form action="uploadVid" method="post" enctype="multipart/form-data" class="col s12">
      <div class="row">
        <div class="input-field col s2">
          <input placeholder="Titre" id="titre" name="titre" class="validate" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" name="description" class="materialize-textarea white-text" required>
          </textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
            <span class="white-text" >Choisissez votre video<span>
            <input type="file" id="video" name="video" placeholder="Parcourir" required>
        </div>
        <div class="input-field col s2">
          <span class="white-text">Choisissez une miniature</span>
          <input type="file" id="miniature" name="miniature" placeholder="Parcourir">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="publique">Publique</option>
            <option value="privee">Privée</option>
          </select>
        </div>   
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" name="register">Envoyer</button>
      </div>
    </form>
  </div>

{% endblock %}
