{% extends 'base.html.twig' %}

{% block content %}

    {% if error != false %}
        <div class="card-panel red darken-4">
            {{error}}
        </div>
    {% endif %}

    {% if success != false %}
        <div class="card-panel green accent-3">
            {{success}}
        </div>
    {% endif %}

    <div class="row">
        <form action="uploadVid" method="post" enctype="multipart/form-data" class="col s12" autocomplete="off">

            <div class="row">
                <div class="input-field">
                    <input id="titre" name="titre" required>
                    <label for="titre">Titre</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <textarea id="textarea1" name="description" class="materialize-textarea white-text" required></textarea>
                    <label for="textarea1">Description</label>
                </div>
            </div>


                <div class="input-field">
                    <span class="white-text">Choisissez votre vidéo</span>
                    <input type="file" id="video" name="video" placeholder="Parcourir" required>
                </div>

                <div class="input-field">
                    <span class="white-text">Choisissez une miniature</span>
                    <input type="file" id="miniature" name="miniature" placeholder="Parcourir">
                </div>

                <div class="input-field">
                    <select name="statut">
                        <option value="" disabled selected>Choisissez la confidentialité de la vidéo</option>
                        <option value="publique">Publique</option>
                        <option value="privee">Privée</option>
                    </select>
                </div>

                <button class="btn waves-effect waves-light" name="register">Envoyer</button>

        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}
